<% content_for :page_title, 'Check your request before it is sent' %>
<% content_for :body_classes, 'foi foi-check' %>

<h1 class="heading-xlarge">
  Check your request before it is sent
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="foi-request__preview">

      <h2 class="heading-small">Request</h2>
      <div class="foi-request__preview__body"><%= @foi_request.body %></div>

      <h2 class="heading-small">Full name</h2>
      <%= @foi_request.contact.full_name %>

      <h2 class="heading-small">Email address</h2>
      <%= @foi_request.contact.email %>

    </div>
    <aside class="form-aside">
      <h2 class="heading-small">Tips for a quick response:</h2>
      <ul class="list list-bullet font-xsmall">
        <li>Don’t ask for more information than you need</li>
        <li>Jargon and formalities can get in the way – plain English is best</li>
        <li>Make it clear what time period you’re interested in</li>
      </ul>
    </aside>

    <div class="cta-section">
      <%= link_to 'Edit your request', edit_foi_request_path, class: 'button button-secondary' %>
      <%= form_for :submission, url: send_foi_request_path do |f| %>
        <%= f.submit 'Send now', class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
