<% content_for :page_title, 'Your request has been sent' %>
<% content_for :body_classes, 'foi foi-complete' %>

<div class="govuk-box-highlight <%= @submission.reference ? 'govuk-box-highlight--loaded' : 'js-async-delivery-status' %>" aria-live="polite" data-source="<%= sent_foi_request_path(format: :json) %>">
  <div class="async-delivery-status--generic">
    <h1 class="heading-xlarge">
      Thank you for your&nbsp;request
    </h1>

    <p class="font-large" style="margin-left: auto; margin-right: auto; max-width: 18em;">
      We will email a reference number to
      <strong class="bold">
        <%= @submission.foi_request.contact.email %>
      </strong>
    </p>
  </div>

  <div class="async-delivery-status--loading" aria-busy="true">
    <div class="loading-spinner"></div>

    <p class="font-large">
      Sending your request
    </p>
  </div>

  <div class="async-delivery-status--delivered" aria-busy="false">
    <h1 class="heading-xlarge">
      Your request has been&nbsp;sent
    </h1>

    <p class="font-large">
      Your reference number is <br>
      <strong class="bold js-submission-reference">
        <%= @submission.reference %>
      </strong>
    </p>

    <p class="font-medium">
      We have emailed a copy to
      <strong class="bold">
        <%= @submission.foi_request.contact.email %>
      </strong>
    </p>
  </div>
</div>

<h2 class="heading-medium">What happens next?</h2>

<div class="grid-row">
  <div class="column-two-thirds">
    <p class="text">
      The team member handling your response will be in touch if they have any
      questions.
    </p>

    <% if @current_performance %>
    <p class="text">
      We aim to respond to all requests within 20 working days, and we’re
      currently hitting this target for <%= @current_performance %>% of
      requests.
    </p>
    <% else %>
    <p class="text">
      We aim to respond to all requests within 20 working days.
    </p>
    <% end %>

    <p class="text">
      Please bear in mind that we may not have the information you’ve asked for
      in exactly the format you’ve requested, but we’ll do our best to answer
      your question.
    </p>

    <p>
      <button class="button button-secondary js-print-button">
        Print this page
      </button>
    </p>
  </div>

  <div class="column-one-third">
    <div class="data">
      <% if @current_performance %>
      <span class="data-item bold-xxlarge"><%= @current_performance %>%</span>
      <span class="data-item bold-xsmall">
        FOI requests currently being answered within 20 working days
      </span>
      <% end %>
    </div>
  </div>
</div>
