<% content_for :page_title, 'How can we reply to you?' %>
<% content_for :body_classes, 'foi foi-contact-details' %>

<h1 class="heading-xlarge">
  How can we reply to you?
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= form_for @contact, url: foi_request_contact_path do |f| %>
      <div class="form-group">
        <%= f.label :full_name, class: 'form-label' do %>
          Full name
          <span class="form-hint">For example, “Alice Brown”</span>
        <% end %>
        <%= f.text_field :full_name, class: 'form-control form-control-3-4 js-session-store' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email address', class: 'form-label' %>
        <%= f.text_field :email, class: 'form-control form-control-3-4 js-session-store js-check-email' %>
      </div>

      <aside class="form-aside">
        <p class="font-xsmall text">
          We’ll only use these details for the handling of your request.
          <a href="#">Read&nbsp;more in our privacy statement.</a>
        </p>
      </aside>

      <p class="cta-section">
        <%= f.submit 'Check your request', class: 'button' %>
      </p>
    <% end %>
  </div>
</div>
