<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--[if lte IE 9]>
    <%= javascript_include_tag 'application-ie9', async: true, 'data-turbolinks-track': 'reload' %>
  <![endif]-->
  <!--[if gt IE 9]><!-->
    <%= javascript_include_tag 'application', async: true, 'data-turbolinks-track': 'reload' %>
  <!--<![endif]-->
<% end %>

<% content_for :proposition_header do %>
  <%= render partial: 'header' %>
<% end %>

<% content_for :after_header do %>
<% end %>

<% content_for :content do %>
<div class="govuk-width-container">
  <%= render partial: 'breadcrumbs' %>
  <div class="govuk-main-wrapper">
    <div id='content' role='main'><%= yield %></div>
  </div>
</div>
<% end %>


<%= render file: 'layouts/govuk_template' %>
