<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--[if lte IE 9]>
    <%= javascript_include_tag 'application-ie9', 'data-turbolinks-track': 'reload' %>
  <![endif]-->
  <!--[if gt IE 9]><!-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--<![endif]-->
<% end %>

<% content_for :proposition_header do %>
  <%= render partial: 'header' %>
<% end %>

<% content_for :after_header do %>
  <%= render partial: 'breadcrumbs' %>
<% end %>

<% content_for :content do %>
  <div id='content' role='main'><%= yield %></div>
<% end %>

<%= render file: 'layouts/hackney_template' %>
