<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :after_header do %>
  <%= render partial: 'breadcrumbs' %>
<% end %>

<% content_for :content do %>
  <div id='content'><%= yield %></div>
<% end %>

<% content_for :body_end do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render file: 'layouts/hackney_template' %>
